@import url('https://fonts.googleapis.com/css?family=Montserrat');
@media (min-width: 700px){
.card{
  background-color: #3498db;
  width:180px;
  height:280px;
  font-family: 'Montserrat', sans-serif;
  color:#333;
  border-radius: 2px;
  padding-left: 10px;
}
.content{
  width:100%;
  height:100%;
  padding:10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: baseline;

}
.templogo{
  width:80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.ctemp{
  display: flex;
  font-size: 2.6em;
}
.descripcio{
  width: 100%;
  padding-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
}
.dades{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 30px;
}
.cardrow{
  width: 85%;
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
}
@media (max-width: 700px){

  @import url('https://fonts.googleapis.com/css?family=Montserrat');

  .card{
    background-color: white;
    width:700px;
    height:100px;
    font-family: 'Montserrat', sans-serif;
    color:#333;
    border-radius: 2px;
    padding-left: 10px;
  }
  .content{
    width:100%;
    height:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;

  }
  .date{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 5px;
  }
  .templogo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .ctemp{
    display: flex;
    font-size: 2em;
  }
  .descripcio{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 25px;
  }
  .dades{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 10px;

  }
  .cardrow{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
  }


}
