.fcontent{
  width:80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  padding-top: 50px;
}
.franjes{
  width:100%;
  height:600px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 50px;
  padding-left: 20px;

}
.fciutat{
  color:white;
  padding-bottom: 50px;
  font-weight: bold;
  font-size: 1em;
  padding-left: 100px;

}
