@import url('https://fonts.googleapis.com/css?family=Montserrat');

.Navbar{
  background-color: #fff;
  width: 100%;
  height:60px;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: center;
  font-family: 'Montserrat', sans-serif;

}
.Navbar div h1{
  padding-left: 50px;
}

.Navbar div span{
  padding-left: 50px;

}

.Searchbox{
  padding-left: 40%;
}
.form-control{
  height:38px;
  width:200px;
  font-size: 1.1em;
  padding-left: 15px;
}
