@import url('https://fonts.googleapis.com/css?family=Montserrat');

.Navbar{
  background-color: #f7f7f7;
  width: 100%;
  height:60px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-family: 'Montserrat', sans-serif;

}
.Navbar div h1{
  padding-left: 50px;
}


.Searchbox{
}
.form-control{
  height:38px;
  width:200px;
  font-size: 1em;
  padding-left: 15px;
}
.menunav{
  width:30%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 20px;

}
.menunav span{
}
